<!-- app/views/welcome/send_mail.html.erb -->
<h1>Send a Welcome Email</h1>
<form action="/send_mail" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="to_email">To Email:</label>
  <input type="text" id="to_email" name="to_email">
  <br>
  <label for="subject">Subject:</label>
  <input type="text" id="subject" name="subject">
  <br>
  <label for="message">Message:</label>
  <textarea id="message" name="message" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Send Welcome Email">
</form>
